/* base page settings*/
body{
	background-color: rgb(240, 245, 252);
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover; 
	}

.header{
    height: 550px;
    background-size: 1890px 850px;
    background-repeat: space;
    background-position: left;
    
}
.col1, .col2{
    box-sizing: border-box;
    }
.maincontent{
    width: 1200px;
    margin: auto;
    background-color: #fff;
    overflow: hidden;
	line-height: 1.3rem;
    }

/* navbar header styling */
#nav1{	
	z-index: 1000;
	padding:0;
	overflow: hidden;	
	}
	
#nav1 ul{
	margin: 0;
	padding: 0;
    }

#nav1 ul li{
    list-style: none;
    margin: 0;
    padding: 0;
	width: 100%;
    }
    
#nav1 ul li a{
    display: block;
    padding: .7rem;
    text-decoration: none;
    text-align: center;
    font-size:1.1rem; 
    font-family: 'Urbanist', sans-serif;
    color: rgb(0, 0, 0);
    transition: all .3s ease;	
    }

#nav1 ul li a:hover{
        background-color: rgba(178, 199, 179, 0.7);
        color: rgb(66, 66, 66);
    }

#nav1 ul li a.selected{
		color: rgba(211, 211, 190, 0.8);
		background-color: rgba(229, 255, 0, 0.5);
	}

/* nav bar2 @footer */
#nav2{	
	z-index: 1000;
	padding:0;
	overflow: hidden;	
	}
	
#nav2 ul{
	margin: 0;
	padding: 0;
    }

#nav2 ul li{
    list-style: none;
    margin: 0;
    padding: 0;
	width: 100%;
    }
    
#nav2 ul li a{
    display: block;
    padding: .7rem;
    text-decoration: none;
    text-align: center;
    font-size:1.1rem; 
    font-family: 'Urbanist', sans-serif;
    color: rgb(0, 0, 0);
    transition: all .3s ease;	
    }
    
article, footer{
        width: auto;
        justify-content: space-around;
        padding: 0.5em 3em 0 3em;
        }


/* body text and header styling */
h1{
        font-size: 85px;
        text-align: center;
        font-family: 'Playfair Display', serif;
        font-style: italic;
        /* color: rgba(255, 205, 96, 0.616); 
  		text-shadow: 1px 1px 2px rgba(255, 198, 9, 0.884), 0 0 25px rgb(56, 56, 56), 0 0 5px rgb(28, 36, 1);*/
    }
h2{
        font-size: 40px;
        text-align: left;
        font-family: 'Playfair Display', serif;
        font-style: italic;
        color: rgba(255, 255, 255, 0.89);
        padding: 0em 5em 0em .9em;
    }

h3{
        font-size: 30px;
        font-family: 'Playfair Display', serif;
        font-style: italic;
        padding: 0em 0 0.1em 1.2em;
        color: rgba(0, 0, 0, 0.89);
    }

h4{
        font-size: 20px;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        padding: 0.5em 0 0.1em 1.5em;
        color: rgba(0, 0, 0, 0.89);
    }
h5{
        font-size: 20px;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        color: rgba(0, 0, 0, 0.89);
    }
h6{
        font-size: 15px;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        color: rgba(0, 0, 0, 0.89);
    }
p{
        width: auto;
        line-height: 23px;
        font-size: 18px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        overflow: hidden;
        color: rgba(48, 32, 3, 0.89);
    }
.pcard{
    width: 800px;
    font-size: 23px;
}

.pH{
    text-align: left;
    font-size: 23px;
    width: 750px;
    font-size: 16px;
    padding: 0em 0em 0em 0em;
    color: rgba(255, 255, 255, 0.89);
    }
.textheader{
    background-color: rgba(245, 233, 233, 0.329);
    padding: 2em 0 1em 1em;
    width: 700px;
}

.quote{
        color: rgb(12, 9, 9);
        margin: auto;
    }


/* Flex containers */
.flex_con{
    display: flex;
    height: auto;
}

.flex_item{
    width: 500px;
    margin: 10px;
}

.flex_item1, .flex_item2 {
    flex: 2;
}

.flex_con2{
    display: flex;
    background-color: rgb(227, 234, 236);
}

.flex_item3 {
    max-height: 600px;
    flex: 2;
}

.flex_item4 {
    max-height: 600px;
    flex: 2;
}
.flex_item5 {
    max-height: 350px;
    max-width: 350px;
    flex: 2;
}

.flex_item6 {
    max-height: 350px;
    max-width: 350px;
    flex: 2;
}
.card{
    padding: 1em;
    border: 1px solid rgb(218, 150, 3);
}

footer{
    text-align: center;
	background-color:rgba(255, 255, 255, 0.212); 
	color:rgb(0, 0, 0);
    font-family: 'Urbanist', sans-serif;
    }
   /* responsive image setting */ 
.responsive{
	max-width: 100%;
	height: auto;
	}


/* media queries screens for larger than 761px */
@media screen and (min-width:761px){
/* Nav bar 1(header) min width*/
#nav1 ul{
		display: flex;
		height: 5px;
		align-items: center;
	}
#nav1{
		padding: 1em;
		top: 0;
        width: 1200px;
        margin: auto;
	}
#nav1 ul li a{
		font-size: 1.3em;
		padding: 0;
        margin: 0;
	}
/* Nav bar 2(footer) min width*/
#nav2 ul{
		display: flex;
		height: 5px;
		align-items: center;
	}
#nav2{
		padding: 1em;
		top: 0;
        width: 1200px;
        margin: auto;
	}
#nav2 ul li a{
		font-size: .8em;
		padding: 0;
        margin: 0;
	}
.flex_con, .flex_con2{
        height: auto;
        width: 1200px;
        padding: 2em ;
        overflow: hidden;
        margin: auto;
    }
p{
        width: auto;
        padding: 0 2.2em 0 ;
        font-size: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
.maincontent{
		display: flex;
		justify-content: space-between;
	}
.col1, .col2{
        padding: 1em;
		flex-basis: 47%;
	}
/* formating for in heading text and header box*/
.textheader{
    margin: 0 35em 1em 50em;
    }  
.textheader{
    background-color: rgba(245, 233, 233, 0.329);
    padding: 1em 0 0 0;
    width: 650px;
    }


.quote {
    font-size: 20px;
    text-align: center;
    }
/* formating for testimonial cards*/
.pcard{
    width: 600px;
    }
.pH{
    text-align: left;
    font-size: 19px;
    width: 500px;
    padding: 0em 0em 2em 4em;
    color: rgba(255, 255, 255, 0.89);
    }
}

/* media queries screens for smaller than 761px */
@media screen and (max-width:760px){
   /* Nav bar 2(footer) at max-media*/
    #nav2{	
        z-index: 1000;
        padding:0;
        overflow: hidden;	
        }
        
    #nav2 ul{
        margin: 0;
        padding: 0;
        }
    
    #nav2 ul li{
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
        }
        
    #nav2 ul li a{
        float: left;
        display: block;
        padding: .6rem;
        text-decoration: none;
        text-align: center;
        font-size:1rem; 
        font-family: 'Urbanist', sans-serif;
        color: rgb(0, 0, 0);
        transition: all .3s ease;	
        }
/* Flex containers at max-media*/
    .flex_con, .flex_con2{
        display: flex;
        width: auto;
        flex-direction: column;
        justify-items: center;
        } 
    .flex_item{
        width: auto;
        margin: 10px;
        }
        .flex_item5 {
            max-height: auto;
            max-width: 350px;
            padding: 1em 1em 0 1em;
            flex: 2;
        }
        
        .flex_item6 {
            max-height: 600px;
            max-width: 350px;
            padding: 0 1.5em;
            flex: 2;
        }
    article, footer{
        justify-content: space-around;
        padding: 0.2em;
        }
/* body and text settings for max media */
    h1{
        font-size: 60px;
        }
    h2{
        color: rgba(0, 0, 0, 0.89);
        font-size: 35px;
        }
    h3{
        padding:0 0 0 1.1em;
        }
    h4{
            padding:0;
        }
    h5{
            padding:0;
        }
    h6{
            padding:0;
        }
    p{
        width: 330px;
        padding: 0 2.5em .5em 1em;
        font-size: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        overflow: hidden;
        }
    .quote {
        font-size: 20px;
        text-align: center;
        }
         /* formating for images*/
    .responsive{
        max-width: 100%;
        height: auto;
        }
    /* formating for testimonial cards*/
    .pcard{
            width: 310px;
        }
    .pH{
            text-align: left;
            width: 280px;
            padding: 0em 1em 0em 3em;
            color: rgba(0, 0, 0, 0.89);
            }
        /* formating for textheader*/
    .textheader{
            background-color: rgba(245, 233, 233, 0.705);
            padding: 1em 3em;
            width: 300px;
        } 
        /* formating for columns and port cards*/
    .col1, .col2{
            width: 350px;
            padding: 1em;
            flex-basis: 47%;
        }
    .card{
            width: 355px;
            padding: 1em;
            border: 1px solid rgb(218, 150, 3);
        }
    }



